@charset "utf-8";
@-ms-viewport {
    width: device-width
}
/* CSS Document */
/*********************************************************************
**** RESET CSS *******************************************************
*********************************************************************/
@import url("reset.css");

@font-face {
    font-family: 'HelveticaRoundedBold';
    src: url('fonts/Helvetica-Rounded-Bold.eot');
    src: url('fonts/Helvetica-Rounded-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Helvetica-Rounded-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('fonts/MyriadPro-Regular.eot');
    src: url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*********************************************************************
*** HEADER ***********************************************************
*********************************************************************/
body {
  font-family: "Open Sans", sans serif;
}

/*Seccion Cabecera*/

header {
  background: #fcfff5;
  height: 200px;
  width: 100%;
}

.contenedor {
  width: 100%;
  /* max width maximo de margen del contenedor al 100% */
  max-width: 1170px;
  /*margin auto para centrar el margen*/
  margin: auto;
}

/* logo */

.logo {
  padding: 22px 0px;
}
.logo img {
  height: 96px;
  /* utilizo para centrar display bloc convertirlo en un bloque xk
    la imagen es un elemento de linea */
  display: block;
  margin: auto;
}

.menu {
  /* utilizamos la propiedad display flex para ser flexible el menu */
  display: flex;
  /* utilzamos flex direction para mantener en file el menu */
  flex-direction: row;
  /* utilizamos flex-wrap para cuando tengamos muchos menu este se baje hacia abajo automaticamente */
  flex-wrap: wrap;
  /* utilizamos justify content para centrar y la propiedad space beetwen para separar los texto del menu dar espacio */
  justify-content: space-between;

  max-width: 400px;
  margin: auto;
}

.menu a {

  color: #7a7a7a;
  text-transform: uppercase;
  font-size: 14px;
}

.menu a:hover {
  color: #a4281f;
}

/* fin de la cabecera */

/* Seccion Banner */

.banner {

  height: 350px;
  width: 100%;
  background-image: url("../img/baner-portada.png");
  /* background-position: center sirve para centrar la imagen */
  background-position: center;
  /* background-size:cover si en caso la pantalla viene a ser mas grande que la imagen: la imagen se repetiria para evitar eso */
  background-size: cover;
}

/* añadir color transparente al banner */
.banner > div {
  /* le pongo width para que ocupe todo el ancho del color
    y heigth 100% aunq puede ser tbm 500 px pero le pongo 100% ya que si modifico el padre este se cambia automaticamente */
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.47);
}

.llamada-accion {
  text-align: center;
  /* ocupamos el heigth al 100% xk tenemos definido la altura en el contenedor padre q es de 500px; */
  display: flex;
  /* flex flow utilizamos la propiedad columna para centrar verticalmente y wrap para decirle que si tenemos mas contenido
    se ponga uno debajo del otro */
  flex-flow: column wrap;
  /* cuando pusimos flex-flow ahora si podemos manipular para centrarlo*/
  justify-content: center;
  align-items: center;
  height: 100%;
}

.llamada-accion p {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.llamada-accion h2 {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  text-transform: uppercase;
  padding: 25px 0px;
  font-size: 40px;
  max-width: 250px;
  width: 100%;
}

.llamada-accion a {
  background: rgba(0, 0, 0, 0.47);
  text-decoration: none;
  color: white;
  padding: 10px 50px;
  margin-top: 35px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.llamada-accion a:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #18bc9c;
}

/* Seccion inicio */

.bienvenida {
  margin-top: 1px;
  width: 100%;
  background-color: #5c517b;
  text-align: center;
  /* font-size: 'Lobster Two', cursive; */
}

.bienvenida h3 {
  padding-top: 40px;
  padding-bottom: 30px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.bienvenida p {
  font-size: 16px;
  color: #fff;
  padding-bottom: 35px;
  max-width: 370px;
  /* tambien podemos declarar margin: auto la diferencia esk le ponemos 0 que es de arriba hacia abajo
    y auto es de izquiera a derecha */
  margin: 0 auto;
}

/* Seccion  Nosotros */

.nosotros {
  padding-bottom: 80px;
}


.nosotros > .contenedor {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.foto-equipo {
  max-width: 370px;
}

.foto-equipo img {
  height: 360px;
}

/* declaro otro .foto-equipo img por que es el hijo
de foto equipo y va ser responsiva ya q ocupa el 100% de su padre
si la imagen mide 570 px la imagen va estar proporcional al width del 100% de .foto-equipo
y cuando llego al max-width de 570 px ahi se detiene; */
.foto-equipo img {
  width: 100%;
}

.conocenos {
  padding: 15px 0px;
  text-align: center;
  max-width: 570px;
}

/* .conocenos p:nth-child(1){
    font-size:18px;
    color:#3c1c22;

    border-bottom: 1px solid #a2a2a2;
    padding-bottom: 20px;
} */

.conocenos h3 {
  color: #0e96dd;
  border-bottom: 1px solid #a2a2a2;
  /* padding-top: 25px; */
  padding-bottom: 35px;
}

.conocenos p:nth-child(2) {
  color: #3c1c22;
  padding-top: 25px;
  font-size: 14px;
  padding-bottom: 20px;
}
.conocenos a {
  font-size: 15px;
  color: #0e96dd;
}

/*seccion portfolio */

.portfolio .proyecto {
  background: #f9f9f9;
  height: 180px;
  text-align: center;
}

.proyecto h2 {
  padding-top: 42px;
  color: #333;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
}

.proyecto .linea {
  border: 1px solid #444;
  width: 46px;
  margin: 0 auto;
}

.porfolio-bk{
  background-image: url("../img/bk-portfolio.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.portfolio-container {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  /* background: red; */
}

.portfolio-item {
  margin: 15px auto;
  /* background: blue; */
}

.portfolio-item img {
  height: 338px;

  /* background: blue; */
}

/* Seccion contactanos */

.row-contact {
  margin: -20px 0;
}
.row-contact:after {
  content: "";
  display: table;
  clear: both;
}
.row-contact .col {
  padding: 0 20px;
  float: left;
  box-sizing: border-box;
}
.row-contact .col.x-50 {
  width: 50%;
}
.row-contact .col.x-100 {
  width: 100%;
}

.content-wrapper {
  min-height: 100%;
  position: relative;
}

.contactanos {
  max-width: 650px;
  height: 420px;
  margin: 0 auto;
}
.contactanos .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 30px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #000;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
/*borrar borde sombreado de input */
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 16px;
  line-height: 45px;
  font-weight: 400;
  color: #888;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.contact-form .submit-btn {
  background-color: #18bc9c;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border-color: #18bc9c;
  border: 1px solid transparent;
  margin: 0 35%;
}

.contact-form .submit-btn:hover {
  background-color: #128f76;
  border-color: #128f76;
}

/* Seccion pie de pagina */

.top-footer {
  background: #193441;
  height: 25px;
}

.center-footer {
  background: #152d37;
}

.center-footer .widget {
  color: #7a7a7a;

  padding-top: 18px;
  padding-bottom: 37px;
  text-align: center;
  max-width: 270px;
  margin: 0 auto;
}

.center-footer .widget h4 {
  padding-bottom: 34px;
  font-size: 18px;
}

.center-footer .widget p {
  font-size: 14px;
}

.btn-facebook {
  margin-top: 12px;
}

.btn-instagram {
  margin-top: 12px;
}

.btn-youtube {
  margin-top: 12px;
}

.bottom-footer {
  background: #193441;
  height: 26px;
}

.bottom-footer p {
  color: #7a7a7a;
  font-size: 12px;
  text-align: center;
}

.boton-subir{
position: fixed;
background: rgba(0,151,75,.6);
height: 40px;
width: 40px;
bottom: 40px;
right: 30px;
text-align: center;
line-height: 50px;
border:none;

}

.boton-subir i {
  color: #fff;
  font-size: 1.5em;
  transform: rotate(-45deg);

}


.servicios .proyecto {
  background: #f9f9f9;
  height: 180px;
  text-align: center;
}

.col-md{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* background: red; */
  width: 100%;
  margin-top: 50px;
}

.p-columna{
  width: 260px;
}

.p-columna-texto{
  margin-bottom: 40px;
}

.p-columna h3{
  color: #171c24;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.colum-movil{
  text-align: center;
  margin-bottom: 40px;
}

.p-columna img{
  height: 310px;
}


/* [class*="fa-"] {
    font-family: FontAwesome;
}

a.boton-subir.open {
    animation-name: bounceInUp;
}

a.boton-subir{
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeOutDown;
    background: rgba(0,151,75,.6);
    border: 3px solid #24a34b;
    border-radius: 50%;
    transition: all .5s linear;
    height: 50px;
    width: 50px;
    position: fixed;
    right: 10px;
    bottom: 50px;
    z-index: 999999999;
  }

  a.boton-subir:hover{
    box-shadow:   0px 2px 10px 0px rgba(255, 255, 255, 0.75);
  }
  /*estilos para el tag i*/

/* mediaqueries */
/* aqui digo que cuando tenga una pantalla minima de 769px que agregue un espacio de padding de 80px */
@media all and (min-width: 769px) {
  .banner {
    height: 500px;
    width: 100%;
    background-image: url("../img/baner-portada.png");
    /* background-position: center sirve para centrar la imagen */
    background-position: center;
    /* background-size:cover si en caso la pantalla viene a ser mas grande que la imagen: la imagen se repetiria para evitar eso */
    background-size: cover;
  }

  .nosotros {
    padding-top: 80px;
  }

  .conocenos {
    padding-left: 30px;
    text-align: left;
  }
  .center-footer .contenedor {
    display: flex;
    flex-flow: row wrap;
  }

  .icon-social {
    display: flex;
    flex-flow: row wrap;
  }

  .icon-social a {
    margin-left: 20px;
  }

  .icon-social p {
    display: none;
  }
}

/* fin de mediquery */

.wrap {
  display: block;
  width: 1718px;
  margin: 0 auto;
  position: relative;
}

.top {
  display: block;
  position: relative;
  height: 52px;
  background-color: #0077c8;
  padding-top: 18px;
}

.logo {
  display: block;
  background: url(images/logo.png) no-repeat;
  background-size: contain;
  width: 228px;
  height: 35px;
  font-size: 1px;
  text-indent: -9999px;
  margin: 0 auto;
}

.top__facebook {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  height: 70px;
  background-color: #ffc72c;
}

.top__facebook__logo {
  display: none;
  background: url(images/facebook_logo_button.png) no-repeat;
  background-size: contain;
  width: 40px;
  height: 41px;
  font-size: 1px;
  text-indent: -9999px;
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translate(0,-50%);
}



/* HEADER */
header {
  display: block;
  width: 100%;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 10;
  background-color: #ffffff;
}

header nav {
  display: block;
  margin: 0 auto;
  width: 600px;
}


header nav ul {
  display: block;
}

header nav ul li {
  display: inline-block;
  line-height: 28px;
  padding: 20px 0;
  position: relative;
}


header nav ul li a{
  display: block;
  color: #535353;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  font-family: 'HelveticaRoundedBold', sans-serif;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  -webkit-transition: all .1s ease 0s;
  -moz-transition: all .1s ease 0s;
  transition: all .1s ease 0s;
  padding-top: 3px;
}

header nav ul li a:hover, header nav ul li a.active {
  text-decoration: underline;
  color: #0077c8;
}

header.fixed {
  position: fixed;
  z-index: 9;
  -webkit-animation-name: menuFixed; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
  animation-name: menuFixed;
  animation-duration: 0.8s;
  background-color: transparent;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes menuFixed {
    from {top: -60px; opacity: 0}
    to {top: 0; opacity: 1}
}
/* Standard syntax */
@keyframes menuFixed {
  from {top: -60px; opacity: 0}
  to {top: 0; opacity: 1}
}

header.fixed .logo {
  margin: 0 0 0 30px;
}

header.fixed nav {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%,0);
}

header.fixed nav ul li a {
  color: #FFF;
}

header.fixed nav ul li a:hover {
  color: #FFF;
}

.submenu {
  display: none;
  /* position: absolute; */
}

.submenu li {
  display: block;
  position: relative;
}


.bh-navbar-toggle {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0,-50%);
  height: 24px;
  width: 32px;
  display: none;
}

.bh-navbar-toggle:hover {
  cursor: pointer;
}

.bh-navbar-toggle.active  div:nth-child(2) {
  width: 0px;
  left: auto;
}


.bh-navbar-toggle.active  div:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}

.bh-navbar-toggle.active  div:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 0;
}


.bh-navbar-toggle div {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: transform 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  background: #ffffff;
  border-radius: 3px;
  height: 4px;
  width: 32px;
}

.bh-navbar-toggle div:nth-child(1) {
  top: 0;
  transform-origin: 2px 2px;
}

.bh-navbar-toggle div:nth-child(2) {
  top: 10px;
  -webkit-transition: width 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0.2s;
  transition: width 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0.2s;
}

.bh-navbar-toggle div:nth-child(3) {
  bottom: 0;
  transform-origin: 2px 2px;
}



/* MENU */
.menuMobile {
  display: none;
}

/* SLIDERS */
.arrowNext {
  display: block;
  width: 37px;
  height: 31px;
  cursor: pointer;
  background: url(images/arrow_next.png) no-repeat;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translate(0,-50%);
}

.arrowPrev {
  display: block;
  width: 37px;
  height: 31px;
  cursor: pointer;
  background: url(images/arrow_prev.png) no-repeat;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(0,-50%);
}


/* HOME */
.modSlider {
  display: block;
  width: 100%;
  position: relative;
}

.modSlider #sliderHome {
  display: block;
  width: 100%;
}

.modSlider #sliderHome .item {
  display: block;
  width: 100%;
}

.modSlider #sliderHome .item img {
  display: block;
  width: 100%;
}

.color__amarillo {
  color: #ffc72c;
}

.color__azul {
  color: #0077c8;
}

.background__color__amarillo {
  background-color: #ffc72c;
}

.background__color__azul {
  background-color: #0077c8;
}
.background__color__gris {
  background-color: #f3f5f8;
}

.alinear_derecha {
  text-align: right;
}

.efecto__sombra1
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}
.efecto__sombra1:before, .efecto__sombra1:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
    box-shadow:0 0 20px rgba(0,0,0,0.2);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.efecto__sombra1:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/* HOME */

.bloque__home {
  display: block;
  padding: 100px 0;
}

h3.titulo__seccion {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-family: 'HelveticaRoundedBold', sans-serif;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 80px;
}

h3.titulo__seccion span {
  display: block;
}

h2.titulo__interna {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-family: 'HelveticaRoundedBold', sans-serif;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 20px;
}

h2.titulo__interna span {
  display: block;
}

.descripcion__seccion {
  display: block;
  color: #535353;
  font-family: 'HelveticaRoundedBold', sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 20px 10px;
}

.bloque__home__listado {
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
}

.bloque__home__listado__item {
  display: block;
  width: 378px;
  margin: 30px 20px;
  position: relative;
  background-color: #fff;
}

.bloque__home__listado__item__imagen {
  display: block;
  width: 100%;
}

.bloque__home__listado__item__texto {
  display: block;
  color: #fff;
  font-family: 'HelveticaRoundedBold', sans-serif;
  text-align: center;
  font-size: 20px;
  line-height: 35px;
}

.estrella {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 29px;
  background: url(images/estrella.png) no-repeat;
  background-size: contain;
}

/* CONTACTO  */
.contacto__contenido {
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-family: 'HelveticaRoundedBold', sans-serif;
}

.contacto__izquierda, .contacto__derecha {
  display: block;
  width: 50%;
}

.contacto__formulario {
  display: block;
  width: 520px;
  margin: 0 auto;
}

.contacto__formulario__fila {
  display: block;
  padding-bottom: 20px;
}

.contacto__formulario__fila p {
  font-size: 22px;
  line-height: 30px;
}

.formulario__input, .formulario__textarea {
  display: block;
  width: 100%;
  background-color: #c6e0ee;
  border: none;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'MyriadProRegular';
}
.formulario__input {
  line-height: 45px;
  padding: 0 15px;
  margin: 10px 0;
}
.formulario__textarea {
  line-height: 20px;
  padding: 15px;
  margin: 10px 0;
  height: 110px;
}

.label__radio {
  font-size: 18px;
  cursor: pointer;
}

.btnEnviar {
  display: block;
  color: #0077c8;
  font-family: 'HelveticaRoundedBold', sans-serif;
  font-size: 22px;
  line-height: 45px;
  text-align: center;
  background-color: #ffc72c;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 0 15px;
  cursor: pointer;
  float: right;
}

.contacto__ubicacion {
  display: block;
  width: 680px;
  margin: 0 auto;
  color: #fff;
  font-family: 'HelveticaRoundedBold', sans-serif;
}
.contacto__mapa {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.contacto__direccion, .contacto__telefono, .contacto__correo {
  display: block;
  font-size: 22px;
  padding: 15px 0 20px 50px;
}

.contacto__direccion {
  background: url(images/contacto/pin.png) no-repeat 5px 50%;
}
.contacto__telefono {
  background: url(images/contacto/telefono.png) no-repeat 5px 50%;
}
.contacto__correo {
  background: url(images/contacto/correo.png) no-repeat 5px 50%;
}

/* INTERNA PRODUCTOS */

.bloque__categoria__productos {
    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0 0 0; */
    display: none;
    padding: 10px 10px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
}



.categoria__producto {
  /* display: block;
  width: 378px;
  color: #FFF;
  font-size: 20px;
  text-align: center;
  font-family: 'HelveticaRoundedBold', sans-serif;
  line-height: 45px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 35px;
  text-decoration: none; */
  width: 12%;
  text-decoration: none;
  padding: 0 15px;
  font-size: 16px;
  font-family: 'MyriadProRegular';
  background-color: transparent;
  color: #535353;
  line-height: 30px;
  display: inline;
  border-right: 1px solid #ccc;
}

.categoria__producto:last-child {
    border: none;
}

.categoria__producto:hover {
  /* background-color: #0077c8; */
  color: #0077c8;
  text-decoration: underline;
}

/* .categoria__producto::after {
    display: none;
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -15px;
    border-width: 15px;
    border-style: solid;
    border-color: #0077c8 transparent transparent  transparent;
}

.categoria__producto:hover::after {
  display: block;
} */

.titulo__categoria__producto {
  display: block;
  font-size: 40px;
  text-align: left;
  font-family: 'HelveticaRoundedBold', sans-serif;
  padding: 80px 0px 20px 0px;
}


footer {
  background-color: #ffc72c;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.footer__top {
  background-color: #0077c8;
  padding: 20px 10px;
}

.footer__top__siguenos {
  font-family: 'HelveticaRoundedBold', sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #fff;
}

.footer__top__iconos {
  text-align: center;
  padding: 10px 0;
}

.footer__top__iconos a {
  text-decoration: none;
  margin: 0 5px;
}

.footer__top__iconos a.facebook {
  background: url(images/facebook.png) no-repeat 0 0;
}

.footer__top__iconos a.instagram {
  background: url(images/instagram.png) no-repeat 0 0;
}

.footer__bottom {
  padding: 20px 10px;
  text-align: center;
}

.footer__bottom ul {
  display: block;
}

.footer__bottom ul li {
  display: inline;
  border-right: 1px solid #fff;
}

.footer__bottom ul li:last-child {
  border-right: none;
}

.footer__bottom ul li a{
  color: #fff;
  text-decoration: none;
  padding: 0px 10px;
  text-align: center;
  font-family: 'MyriadProRegular';
  font-size: 13px;
  line-height: 25px
}

.footer__bottom ul li a:hover {
  text-decoration: underline;
}

footer .wrap {
  width: 100%;
}

footer .copy {
  display: block;
  text-align: center;
  font-family: 'MyriadProRegular';
  font-size: 13px;
  line-height: 25px;
  color: #fff;
  padding-bottom: 10px;
}


.lblError {
  font-family: 'MyriadProRegular';
  font-size: 14px;
  font-weight: bold;
  color: #d81a21;
  /* display: none;  */
}

.validInput {
  border: 1px solid #d81a21;
}

a.lightzoom {
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}

#lz-container {
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  white-space: nowrap;
  position: absolute;
  z-index: 9999990 !important;
}

#lz-box {
  position: fixed;
  height: 100%;
  width: 100%;
  line-height: 1px;
  text-align: center;
  display: inline-block;
  z-index: 9999998 !important;
}

#lz-overlay {
  display: block;
  opacity: 0.6;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999991 !important;
}

#lz-box:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}

#lz-box img {
  float: none;
  display: inline-block;
  max-height: 80%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  vertical-align: middle;
  opacity: 0;
  position: relative;
  z-index: 9999995 !important;
}

#lz-box p {
  position: relative;
  bottom: 0;
  margin-top: -30px;
  margin-bottom: 0;
  line-height: 20px;
  font-size: 18px;
  z-index: 9999997 !important;
  font-family: 'MyriadProRegular';
  font-size: 12px;
  color: #0077c8;
}

#lz-close {
  display: block;
  position: absolute;
  top: 2%;
  right: 2%;
  background: url("image/close.png") no-repeat 5px 5px;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  padding: 5px;
  opacity: 0.5;
  z-index: 9999998 !important;
}

#lz-close:hover {
  opacity: 1;
}




#loading-center {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9999999 !important;
}

#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 150px;
  width: 150px;
  margin-top: -75px;
  margin-left: -75px;
}

.object {
  width: 20px;
  height: 20px;
  background-color: #FFF;
  float: left;
  margin-right: 20px;
  margin-top: 65px;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
}

#object_one {
  -webkit-animation: object_one 1.5s infinite;
  animation: object_one 1.5s infinite;
}

#object_two {
  -webkit-animation: object_two 1.5s infinite;
  animation: object_two 1.5s infinite;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

#object_three {
  -webkit-animation: object_three 1.5s infinite;
  animation: object_three 1.5s infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@-webkit-keyframes object_one {
  75% {
    -webkit-transform: scale(0);
  }
}

@keyframes object_one {
  75% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}

@-webkit-keyframes object_two {
  75% {
    -webkit-transform: scale(0);
  }
}

@keyframes object_two {
  75% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}

@-webkit-keyframes object_three {
  75% {
    -webkit-transform: scale(0);
  }
}

@keyframes object_three {
  75% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}


/* MEDIAQUERY */

@media only screen and (max-width: 1718px) {
  .wrap {
    width: 90%;
  }

  .bloque__home__listado__item {
    width: 20%;
  }

  .bloque__home__listado__item__texto {
    font-size: 16px;
  }

  .contacto__formulario, .contacto__ubicacion {
    width: 90%;
  }
  .categoria__producto  {
    width: 22%;
    font-size: 16px;
  }
}

@media only screen and (min-width: 1150px) {
  .ico__home {
    display: block;
    width: 28px;
    height: 23px;
    background: url(images/ico__home.png) no-repeat;
    background-size: contain;
    font-size: 1px;
    text-indent: -9999px;
  }
}
@media only screen and (min-width: 1024px) {

  .bloque__categoria__productos.fixed{
    display: block;
    position: fixed;
    z-index: 8;
    top: 70px;
    left: 50%;
    transform: translate(-50%,0);
    -webkit-animation-name: catFixed; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
    animation-name: catFixed;
    animation-duration: 0.8s;
  }

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes catFixed {
    from {top: 0px; opacity: 0}
    to {top: 70px; opacity: 1}
  }
  /* Standard syntax */
  @keyframes catFixed {
    from {top: 0px; opacity: 0}
    to {top: 70px; opacity: 1}
  }

}

@media only screen and (max-width: 1280px) {

  .bloque__home__listado__item__texto {
    font-size: 14px;
  }

  .top__facebook {
    width: 20%;
  }
}

@media only screen and (max-width: 1099px) {
  .categoria__producto {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1080px) {
  .bloque__home__listado__item {
    width: 40%;
  }

  .bloque__home__listado {
    justify-content: center;
  }

  .categoria__producto {
    width: 30%;
  }
}


@media only screen and (max-width: 1023px) {

  .contacto__izquierda, .contacto__derecha {
    display: block;
    width: 100%;
    margin-bottom: 40px;
  }

  .contacto__formulario, .contacto__ubicacion {
    width: 80%;
  }

  .contacto__contenido {
    flex-wrap: wrap;
  }


}


@media only screen and (max-width: 1149px) {

  header {
    position: fixed;
  }

  .main {
    display: block;
    padding-top: 70px;
  }

  .top__facebook {
    width: 75px;
  }

  .top__facebook__logo {
    right: 70px;
  }

  .bh-navbar-toggle {
    display: block;
  }

  header nav {
    position: absolute;
    width: 300px;
    height: calc(100vh - 70px);
    background-color: #ffffff;
    left: -300px;
    overflow: scroll;
    transition: left 0.5s;
  }

  /* header nav.menuLeft {
    -webkit-animation-name: menuLeft;
    -webkit-animation-duration: 0.8s;
    animation-name: menuLeft;
    animation-duration: 0.8s;
  }


  @-webkit-keyframes menuLeft {
      from {left: -300px;}
      to {left: 0;}
  }

  @keyframes menuLeft {
    from {left: -300px;}
    to {left: 0;}
  } */

  header nav ul {
    height: 90%;
  }

  header nav ul li {
    display: block;
    /* height: 16%; */
    padding: 0;
    position: relative;
  }

  header nav ul li a {
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #e9e9e9;
    margin: 0;
    padding: 0 15px;

    line-height: 50px;
  }

  header nav ul li a:hover {
    text-decoration: none;
  }

  .logo {
    margin: 0 0 0 20px;
  }

  .submenu {
    display: block;
  }

  .submenu li a {
    padding-left: 45px;
    text-decoration: none;
    position: relative;
    line-height: 40px;
  }

  .submenu li a::after {
    content: "-";
    position: absolute;
    left: 30px;
  }

}


@media only screen and (max-width: 1070px) {


}
@media only screen and (max-width: 1024px) {


}

@media only screen and (max-width: 900px) {


}

@media only screen and (max-width: 735px) {
  .categoria__producto {
    width: 45%;
  }
}

@media only screen and (max-width: 690px) {


}

@media only screen and (max-width: 560px) {

  .footer__bottom ul li {
    display: block;
    border-right: none;
  }

}
@media only screen and (max-width: 520px) {
  .logo {
    width: 163px;
    height: 25px;
  }

  .top {
    height: 45px;
    padding-top: 25px;
  }

  .contacto__formulario, .contacto__ubicacion {
    width: 100%;
  }

  .contacto__direccion, .contacto__telefono, .contacto__correo {
    font-size: 20px;
    padding: 15px 0 20px 40px;
  }

  .bloque__home {
    padding: 50px 0;
  }

  h3.titulo__seccion {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
  }

  .contacto__formulario__fila {
    padding-bottom: 10px;
  }

  .contacto__formulario__fila p {
    font-size: 18px;
    line-height: 30px;
  }

  .label__radio {
    font-size: 13px;
    cursor: pointer;
  }

  .formulario__input {
    line-height: 40px;
    padding: 0 10px;
    margin: 5px 0;
  }

  .formulario__input, .formulario__textarea {
    font-size: 13px;
  }

  .formulario__textarea {
    line-height: 20px;
    padding: 10px;
    margin: 5px 0;
    height: 80px;
  }
  .btnEnviar {
    font-size: 18px;
    border-radius: 15px;
  }

  .contacto__direccion {
    background-size: 19px 25px;
  }

  .contacto__telefono{
    background-size: 23px 25px;
  }

  .contacto__correo{
    background-size: 25px 20px;
  }

  .arrowNext {
    width: 30px;
    height: 25px;
    right: 10px;
    background-size: contain;
  }

  .arrowPrev {
    width: 30px;
    height: 25px;
    left: 10px;
    background-size: contain;
  }


}

@media only screen and (max-width: 414px) {
  h3.titulo__seccion {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 20px;
  }

  .bloque__home {
    padding: 40px 0;
  }

  .contacto__direccion, .contacto__telefono, .contacto__correo {
    font-size: 16px;
  }

  h2.titulo__interna {
    font-size: 35px;
    line-height: 40px;
  }

  .titulo__categoria__producto {
    font-size: 25px;
    padding: 60px 0px 0px 0px;
  }
}
